<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.dao.ProductMapper">
	<select id="selectAllList" parameterType="product" resultType="product">
		select * from tbl_product order by prod_code
	</select>
	<select id="selectLikeList" parameterType="product">
		select * 
		from (select rownum rn, a.*
              from (
                    select *
                    from tbl_product order by like_it desc
                    ) a
       		 )b
			<![CDATA[
		where b.rn<5
	]]> 
	</select>
	<select id="selectOne" parameterType="String">
		select * 
		from tbl_product
		where prod_code = #{prodCode}
	</select>
</mapper>