<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.member.dao.MemberMapper">
	<select id="memberList">
	select * from tbl_users
	</select>
	
  <select id="login" parameterType="member">
  	select * 
  	from tbl_users
  	where user_id = #{id}
  		and user_pw = #{pw}
  </select>
  
  <insert id="insert" parameterType="member">
	insert into tbl_users (user_id, user_pw, user_name, user_birth, user_img, user_phone, user_addr)
	values (#{userId}, #{userPw}, #{userName}, #{userBirth}, #{userImg}, #{userPhone}, #{userAddr})  
  </insert>
  
  <select id="select" parameterType="member">
  	select *
  	from tbl_users
  	where user_id = #{userId}
  </select>
  
  <update id="update" parameterType="member">
  update tbl_users
  set user_phone = #{userPhone},
  	  user_addr =  #{userAddr}
  where user_id = #{userId}
  </update>
  
  <select id="chartData" parameterType="map">
select department_name, count(*) cnt
from hr.employees e
join hr.departments d
on e.department_id = d.department_id
group by department_name
  </select>
    <select id="infoSelect" parameterType="member">
  	select *
  	from tbl_users
  	where user_id = #{id}
  </select>
  <update id="modifyMember" parameterType="member">
  	update tbl_users
  	set	  user_pw = #{userPw},
   		  user_phone = #{userPhone},
  		  user_addr =  #{userAddr}
  	where user_id = #{userId}
  </update>
   <update id="modifyImage" parameterType="member">
  	update tbl_users
  	set	  user_img = #{userImg}
  	where user_id = #{userId}
  </update>
  <delete id="delete" parameterType="member">
  delete from tbl_users
  where user_id = #{userId}
  </delete>

</mapper>