<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
	<typeAlias alias="reply" type="com.yedam.board.vo.ReplyVO"/>
		<typeAlias alias="board" type="com.yedam.board.vo.BoardVO"/>
		<typeAlias alias="Member" type="com.yedam.member.vo.MemberVO"/>
		<typeAlias alias="Calendar" type="com.yedam.calendar.vo.CalendarVO"/>
	</typeAliases>


	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.OracleDriver" />
				<property name="url"
					value="jdbc:oracle:thin:@3.35.16.226/xe" />
				<property name="username" value="proj" />
				<property name="password" value="proj" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
	<mapper resource="com/yedam/board/dao/ReplyMapper.xml" />
	<mapper resource="com/yedam/board/dao/BoardMapper.xml" />
		<mapper resource="com/yedam/member/dao/MemberMapper.xml" />
		<mapper resource="com/yedam/calendar/dao/CalendarMapper.xml" />
	</mappers>
</configuration>